// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen * 1px) {
      @content;
  }
}

@mixin list-reset() {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin d-list-reset() {
  margin: 0;
  padding: 0;
  dd {
    margin: 0;
  }
}